body {
    background-image: linear-gradient(#3b1566, #4d7fa8);
    height: 100vh;
    color: #d6d6ea;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#below-cover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0 1em 0;

}

#track-info {
    text-align: center;
}

#chapter_name {
    font-size: 1.5em;
    font-weight: bolder;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#button-container button {
    background-color: inherit;
    color: inherit;
    border: none;
}

#button-container .button {
    font-size: 1.5em;
    cursor: pointer;
}

#button-container .button:hover {
    color: #fff;
}

#cover {
    width: 200px;
}



@media (max-width: 600px) {
    .music-container {
      width: 300px;
    }
    #cover {
      max-width: 10rem;
    }
    #button-container {
      max-width: 10rem;
    }
}  


